:root {
	--backColor: #e8d8a5; /* Old colour: #fbdbcd */
	--textColor: #452923; /* Old colour: #73464c */
	--linkColor: #e55d4d; /* Old colour: #ab5675 */
	--borderColor: #32373c; /* Old colour: #1e1e1e */
}

body {
	background-color: var(--backColor);
	color: var(--textColor);
	font-family: Georgia, Verdana;
	font-size: 115%;
}

a, a:hover, #title:visited {
	color: var(--linkColor);
}

a.button, a:visited.button {
	color: var(--textColor);
	text-decoration: none;
}

a:visited {
	color: #6b203b; /* Old colour: #6b203b */
}

header, footer, #temp {
	text-align: center;
}

header, footer, #bookContainer, .container {
	margin: auto;
	margin-bottom: 1%;
}

header, footer, .container {
	max-width: 70%;
}

footer {
	font-size: 85%;
}

footer p {
	margin: 0;
}

#bookContainer {
	width: 95%;
}

#bookTable {
	border-collapse: collapse;
	width: 100%;
}

#bookTable td {
	padding-left: 0.5%;
}

#bookTable th {
	position: sticky;
  	top: 0;
  	background-color: var(--linkColor);
}

#bookTable, #bookTable th, #bookTable td {
	border: 1px solid var(--borderColor);
}

#bookTable th:hover {
	color: var(--backColor);
}

#bookTable td:hover {
	color: var(--linkColor);
}

#bookTable td:nth-child(1) {
  text-align: center;
}

#bookTable, #search {
	margin-bottom: 1%;
}

#buttonMenu {
	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	align-items: center;
  	gap: 10px;
}

#search {
	font-size: 140%;
	border: 3px solid var(--borderColor);
	border-radius: 25px;
	background-color: var(--backColor);
	color: var(--linkColor);
	padding-left: 1%;
	width: 98%;
}

#title, #title:visited {
	text-decoration: none;
}

#title:hover {
	text-decoration: underline;
}

.button {
	border: 1px solid var(--borderColor);
	padding-left: 0.6em;
	padding-right: 0.6em;
}

.hidden .hiddenBody {
	display: none;
}

.hiddenBody, .textGroup {
	margin-bottom: 2.5%;
}

.hiddenBody, .hiddenHead, .textGroup {
	margin-left: 10%;
}

.hiddenBody *, .textGroup * {
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}

.hiddenHead {
	cursor: pointer;
	margin: 0;
}

.hiddenHead h2::after, .hiddenHead h3::after  {
	content: " ▶";
	width: 0;
	height: 0;
}

.hiddenHead h2, .hiddenHead h3, .textGroup h2, .textGroup h3 {
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}

.hiddenToggle {
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}

.hiddenToggle:checked ~ .hiddenHead ~ .hiddenBody {
	display: block;
}

.hiddenToggle:checked + .hiddenHead h3::after, .hiddenToggle:checked + .hiddenHead h2::after {
	content: " ▼";
}

.quote {
	font-style: italic;
}
